/************************* Header *************************/
header {
 
    height: 90vh;
    background-image: url('/assets/img/img-header.jpg');
    background-size: cover;
    background-position: center  ;
  

} 

.hero h1 {
 height: 90vh;
 line-height: 90vh;
    text-align: center;
    color: #fff;
} 

/* .hero h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} */

/* .app-logo-container {
    display: flex;
    justify-content: center;
}

.app-logo-container img {
    margin-top: 20px;
} */